
<div class="container">
  <h1 class="text-center">About Us</h1>
  <h2 class="text-center">Datos curiosos</h2>
  <p class="text-center">
 
  <ul class="list-group">
  <li class="list-group-item">Diariamente se hackean 30.000 webs en todo el mundo</li>
  <li class="list-group-item">Mensualmente se crean más de 6.000 nuevos virus</li>
  <li class="list-group-item">Más del 80% de los e-mails que se envían a diario son spam</li>
  <li class="list-group-item">La contraseña de los ordenadores que controlaban los misiles de EE.UU. fue, durante 8 años, 00000000</li>
  <li class="list-group-item">En 2012, se inutilizó la página web de Papa Johns, por un grupo de ciberdelincuentes conocidos como UGNazi, porque tardaron dos horas en llevar su pedido</li>
</ul>

