<!-- app/views/home/contact.html.erb -->
<div class="container">
  <h1 class="text-center">Contacto</h1>
  

  <form action="#" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" required>
    </div>

    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control" id="message" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <p id="thank-you-message" class="text-center mt-3" style="display:none;">Te contactare en la brevedad.</p>
</div>



<script>


  document.querySelector("form").addEventListener("submit", function(e) {
    e.preventDefault();
    document.getElementById("thank-you-message").style.display = "block";
  });
</script>
