<h1 class="text-center">Mi página personal</h1>


<div class="text-center">
            <%= image_tag("s.jpg", class: "img-fluid rounded", alt: "Swimming") %>
</div>


<div class="container">

   

    <div id="hobbies" class="container my-5">
        <h2 class="text-center text-info">Hobbies</h2>

        <div class="row align-items-center">
            <div class="col-12 col-md-3">
                <h2 class="text-success">Swimming</h2>
                <p class="text-info"> One of my favorite sports is swimming...</p>
            </div>
            <div class="col-12 col-md-3 text-center">
            <%= image_tag("n.jpg", class: "img-fluid rounded", alt: "Swimming") %>

            </div>
            <div class="col-12 col-md-3">
                <h2 class="text-success">Music</h2>
                <p class="text-info"> Music has been one of my favorite hobbies...</p>
            </div>
            <div class="col-12 col-md-3 text-center">
            <%= image_tag("g.jpg", class: "img-fluid rounded", alt: "Swimming") %>
            </div>
        </div>
    </div>

    
    <div id="mostrarnoticias"></div> 
</div>

<!-- Enlaces de JS de Bootstrap -->
<script src="script.js"></script>
